@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.sample-form-section {
    margin-top: 20px;
}

.icon {
    margin-right: 5px;
}


.bolt-tablist {
    min-width: 200px;
    min-height: 100vh;;
}

.bolt-card-content{
    overflow: unset !important;
}

.half-width {
    flex: 1 1 50%;
}

.width-100 {
    width: 100%;
}

.justify-content-center {
    justify-content: center;
}

.chart-row {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: space-between; 
    width: 100%; 
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.chart-column {
    flex: 1 1 calc(50% - 16px); 
    box-sizing: border-box; 
    padding: 16px; 
    text-align: center; 
    margin: 0; 
    max-width: 50%;
    width: calc(50% - 16px); 
}